body {
  background-color: rgb(255, 255, 255);
}



table.datarows {
  border-collapse: collapse;
   border-bottom: 1px solid #ddd;
  width: 15%;
  height: 2%;
}

.datarows2 {
    border: 1px solid black;
  background-color: #a39f9f;
  padding: 0px;
}

.maintext {
  color: rgb(0, 0, 0);
  font-size: 36px;
  text-align: center;
}

.subtext1 {
  color: black;
  font-size: 22px;
  text-align: center;
}

.subtext2 {
  color: black;
  font-size: 22px;
  text-align: center;
}

.subtext3 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  text-align: left;
}

.subtext4 {
  color: rgb(0, 0, 0);
  font-size: 34px;
  text-align: left;
}

.errorcode1 {
  color: rgb(134, 23, 23);
  font-size: 26px;
  text-align: center;
}

table.chartdata {
   border-collapse: collapse;
  border-width: none;
  padding: 0%;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  border-style: inset;
  border-width: 1px;
  width: 50%;
}

th, td {
  border-bottom: 1px solid #000000;
  padding: 10px;
  width: 50%;
}